.btn-primary {
    background-color: #FFE600;
    border: none;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 90px;
}

.btn-secondary {
    background-color: #FFE600;
    border: none;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 163px;
}

.back{
  text-decoration: none;
  color: #333A42;
}

.float_btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  text-align: center;
  background-color: #333A42;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  i {
    margin-top: 22px;
  }
}