.btn-primary {
    background-color: #FFE600;
    border: none;
    width: 95%;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 90px;
}

.btn-secondary {
    background-color: #FFE600;
    border: none;
    width: 95%;
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    margin-top: 163px;
}