.card{
  margin-top: 30px;
}

.top_element{
  display: flex;
  flex-wrap:wrap;
}

.camera_icon{
  margin-top: 15px;
  margin-bottom: 46px;
}

.index_detail_actions{
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  right: 25px;
  position: absolute;

    img {
      cursor: pointer;
      border-radius: 100%;
    }
}

.card_user_avatar{
  img{
    width: 25px;
    height: 25px;
  }
}

.card_top{
  display:flex;
  flex-wrap:nowrap;
}

.card_top_element{
  margin-left: 8px;
}

.card_user_name{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.card_user_post_time{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #9E9E9E;
  }

  .card_content{
    margin-top: 11px;
  }

  .card_image{
    display: flex;
    flex-wrap:wrap;
    img {
      width: 150px;
      height: 150px;
      margin-right: 10px;
    }
  }
  // １枚目を親要素として画像の２、３枚目がheight50%ずつに

  .card_option{
    display: flex;
    flex-wrap:wrap;
    i {
      margin-top: 12px;
      margin-right: 14px;
    }
  }

  .card_detail{
    display: flex;
    flex-wrap:wrap;
  }

  .card_context_user_name{
    margin-right: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .card_context{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }